<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.virgil.hgtserver.mappers.WhisperMapper">
    <insert id="insertWhisper" parameterType="com.virgil.hgtserver.pojo.Whisper">
        insert into whisper values(#{text}, #{id}, #{person}, #{isRead})
    </insert>
    <select id="queryMaxId" resultType="int">
        select id from whisper order by id desc limit 0, 1
    </select>
    <select id="queryNewMsg" parameterType="String" resultType="int">
        select sum(isRead) from whisper where person=#{person}
    </select>
    <select id="queryByPerson" resultType="com.virgil.hgtserver.pojo.Whisper" parameterType="String">
        select * from whisper where person=#{person}
    </select>
    <update id="updateByPerson" parameterType="String">
        update whisper set isRead=0 where person=#{person}
    </update>
    <select id="queryALl" resultType="String">

    </select>
</mapper>